
@{
    ViewBag.Title = "StudentList";
}

<h2>StudentList</h2>
<h1>Using ViewBag</h1 >
<h2>School Details</h2>
<table>
    <span>School Id: @ViewBag.sId</span><br />
    <span>School Id: @ViewBag.sId</span>
</table>

<table class="tab-content table table-bordered table-responsive">

    <tr class="table-bordered">
        <td>ID</td>
        <td>NAME</td>
        <td>DEPT</td>
    </tr>
    <tr>
        @foreach (var n in ViewBag.details)
        {
            <td>@n</td>
        }
    </tr>
    <tr>
       <td>@ViewData["scId"]</td>
       <td>@ViewData["scName"]</td>
    </tr>


</table>

